/**
 * Über mich
 */

.übermich {
    padding-top: $landing-padding;
    padding-bottom: $landing-padding - 15px;
}

.übermich-titel {
    font-weight: lighter;
    margin: 0px 0px 40px;
    color: rgb(30, 30, 30);
}